<ul class="blog-list list-group">
  <li>Title: {{blog-title}}</li>
  <li>Author: {{author}}</li>
  <li>Blog: {{blog-body}}</li>

</ul>
<button type="button" name="button"><a href="#">Return Home</a></button>
